[Unit]
Description = Shoja Monitor Service
After network.target = server-health-check.service

[Service]
Type = forking
ExecStart = /usr/local/bin/server-health-check.sh start
ExecStop = /usr/local/bin/server-health-check.sh stop
ExecReload = /usr/local/bin/server-health-check.sh reload

[Install]
WantedBy=multi-user.target